@import "variable.styl"

html, body, div, article, footer, header, nav, ul, img, blockquote, q
  margin 0
  padding 0
  border 0
  font-weight normal
  variable-align baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section
  display: block

a
  font-size $html-font-size
  color #7e8c8d
  text-decoration none
  img
    border 0

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: none

.clearfix
      display inline-block
      &::after
          display: block
          content: ""
          height: 0
          line-height: 0
          clear: both

html, body 
  min-height 100vh

body
  width 100%
  line-height 1
  font-family 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
  font-size $html-font-size
  user-select: none
  -webkit-tap-highlight-color: transparent
  -webkit-text-size-adjust: none
  background: $color-background
  color $color-text

  button
    outline: none
    border: none
    cursor: pointer
  
  :focus
    outline 0
    
  img 
    border none
  
  h1, h2, h3, h4
      font-weight 400
      color $color-text-d
  
  code, pre
      font-family $code-font
      font-size $code-font-size
      background-color $codebg
      -webkit-font-smoothing initial
      -moz-osx-font-smoothing initial
  
  code
    color #525252
    padding 3px 5px
    margin 0 2px
    border-radius 2px
  
  em
    color $color-light
  