// 颜色定义规范
$color-text = #333
$color-text-d = #2c3e50
$color-text-l = #999
$codebg = #f8f8f8
$color-light = #7f8c8d
$color-link = #57ad68

//字体定义规范
$html-font-size = 14px
$font-size-small = 13px
$font-size-medium-x = 18px
$font-size-large = 24px
$font-size-large-x = 30px
$code-font = 'Roboto Mono', Monaco, courier, monospace
$code-font-size = 0.9em

//宽高定义规范
$header-height = 30px
$header-height-l = 25px
$header-padding-l = 40px
$header-padding = 25px
$header-padding-s = 12px